:root {
  /* Colors */
  --clr-primary: hsl(123, 68%, 48%);
  --clr-primary-300: hsl(123, 68%, 48%, 0.3);
  --clr-primary-600: hsl(123, 68%, 48%, 0.6);
  --clr-secondary: hsl(27, 79%, 74%);
  --clr-accent: hsl(97, 76%, 61%);
  --clr-text: hsl(243, 76%, 5%);
  --clr-bg: hsl(240, 60%, 99%);

  --clr-dark-700: hsl(0, 0%, 70%);
  --clr-dark-900: hsl(0, 0%, 90%);

  /* Font Family */
  --ff-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-one: var(--ff-system-ui);

  /* Font Sizes */
  --font-scale: 1.125;
  --fs-x-small: calc(var(--fs-small) / var(--font-scale));
  --fs-small: calc(var(--fs-p) / var(--font-scale));
  --fs-p: 1rem;
  --fs-h6: calc(var(--fs-p) * var(--font-scale));
  --fs-h5: calc(var(--fs-h6) * var(--font-scale));
  --fs-h4: calc(var(--fs-h5) * var(--font-scale));
  --fs-h3: calc(var(--fs-h4) * var(--font-scale));
  --fs-h2: calc(var(--fs-h3) * var(--font-scale));
  --fs-h1: calc(var(--fs-h2) * var(--font-scale));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font: var(--fs-p) / 1.6 var(--ff-one);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

.app {
  display: grid;
  grid-template-columns: minmax(250px, 20%) minmax(350px, 1fr);
  min-height: 100vh;
}

img[alt~="icon"] {
  margin: 0 auto;
}

.sidebar {
  background-color: var(--clr-primary-300);
  padding: 1.5rem 0;
}

.sidebar > * {
  margin: 0 0.5rem;
}

.sidebar h2 {
  font-weight: 400;
  margin-left: 0.5rem;
  border-bottom: 1px solid var(--clr-text);
}

.projects-control {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0.5rem;
}

.projects-control > * {
  flex: 1;
  padding: 0.25em 0;
  background-color: var(--clr-primary-600);
  border: 1px solid transparent;
  border-radius: 1.5rem;
}

.projects-control > *:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-text);
}

.projects-control > *:active {
  background-color: var(--clr-accent);
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  margin: 1rem 0 1rem 0.5rem;
}

.project-name button {
  width: 100%;
  background-color: var(--clr-primary-300);
  border: none;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 2rem 0 0 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: no-wrap;
}

.active-project button {
  background-color: var(--clr-bg);
}

.project-name button:hover {
  background-color: var(--clr-bg);
}

.project-name button:active {
  background-color: var(--clr-accent);
}
