:root {
  /* Colors */
  --clr-primary: hsl(123, 68%, 48%);
  --clr-primary-300: hsl(123, 68%, 48%, 0.3);
  --clr-primary-600: hsl(123, 68%, 48%, 0.6);
  --clr-secondary: hsl(27, 79%, 74%);
  --clr-accent: hsl(97, 76%, 61%);
  --clr-text: hsl(243, 76%, 5%);
  --clr-bg: hsl(240, 60%, 99%);

  --clr-light-200: hsl(0, 0%, 20%);
  --clr-light-400: hsl(0, 0%, 40%);
  --clr-light-700: hsl(0, 0%, 70%);
  --clr-light-850: hsl(0, 0%, 85%);
  --clr-light-950: hsl(0, 0%, 95%);

  /* Font Family */
  --ff-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-one: var(--ff-system-ui);

  /* Font Sizes */
  --font-scale: 1.125;
  --fs-x-small: calc(var(--fs-small) / var(--font-scale));
  --fs-small: calc(var(--fs-p) / var(--font-scale));
  --fs-p: 1rem;
  --fs-h6: calc(var(--fs-p) * var(--font-scale));
  --fs-h5: calc(var(--fs-h6) * var(--font-scale));
  --fs-h4: calc(var(--fs-h5) * var(--font-scale));
  --fs-h3: calc(var(--fs-h4) * var(--font-scale));
  --fs-h2: calc(var(--fs-h3) * var(--font-scale));
  --fs-h1: calc(var(--fs-h2) * var(--font-scale));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font: var(--fs-p) / 1.6 var(--ff-one);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

button {
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-columns: minmax(250px, 20%) minmax(350px, 1fr);
  min-height: 100vh;
}

img[alt~="icon"] {
  margin: 0 auto;
}

/* 
  =================
   Sidebar Section
  =================
*/

.sidebar {
  background-color: var(--clr-primary-300);
  padding: 1.5rem 0;
}

.sidebar > * {
  margin: 0 0.5rem;
}

.sidebar h2 {
  font-weight: 400;
  font-size: var(--fs-h1);
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-text);
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  margin: 1rem 0 1rem 0.5rem;
}

.project-name {
  width: 100%;
  background-color: var(--clr-primary-300);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem 0 0 2rem;
  display: flex;
}

.active-project .project-name {
  background-color: var(--clr-bg);
}

.project-name:hover {
  background-color: var(--clr-bg);
}

.project-name:active {
  background-color: var(--clr-accent);
}

.project-name span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 3px;
}

.project-name img {
  margin: 0 0 0 auto;
  border-radius: 50%;
}

.project-name img:hover {
  box-shadow: 0 0 0 2px var(--clr-light-700),
    inset 0 0 0 100px var(--clr-light-700);
}

.project-name img:focus {
  outline-offset: 2px;
}

.hide-icon img {
  display: none;
}

.hide-icon span {
  margin-right: 0;
}

.projects-control {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0.5rem;
}

.projects-control > * {
  flex: 1;
  padding: 0.25em 0;
  background-color: var(--clr-primary-600);
  border: 1px solid transparent;
  border-radius: 1.5rem;
}

.projects-control > *:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-text);
}

.projects-control > *:active {
  background-color: var(--clr-accent);
}

/* 
==============
Main Section
==============
*/

.main {
  padding: 1.5rem 3rem;
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--clr-text);
  padding-bottom: 0.5rem;
}

.project-controls {
  display: flex;
  gap: 0.5rem;
}

.project-controls > * {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background-color: var(--clr-light-950);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.25em 0.75em;
}

.project-controls > *:active {
  outline: 3px solid var(--clr-light-850);
}

.project-controls > *:hover {
  background-color: var(--clr-light-850);
  border-color: var(--clr-text);
}

.project-todos ul {
  padding: 0;
}

.project-todos ul li {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;
  border-bottom: 1px solid var(--clr-light-700);
}

label[for^="todo"] {
  padding: 1rem 0 1rem 0.5rem;
  cursor: pointer;
}

label:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
}

.todo-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.todo-title p:first-child {
  display: flex;
  gap: 0.5rem;
}

.todo-title-text {
  width: 0;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-priority-tag {
  background: var(--clr-secondary);
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: var(--fs-small);
  display: flex;
  margin: auto;
}

label:has(input[type="checkbox"]:checked) .todo-priority-tag {
  background-color: transparent;
}

.todo-due-date {
  color: var(--clr-light-400);
  font-weight: 700;
  font-size: var(--fs-small);
}

.todo-controls {
  align-self: flex-start;
  display: flex;
  gap: 0.65rem;
  margin: 1rem 0.25rem 0 0;
}

.todo-controls > * {
  background-color: var(--clr-bg);
  border: 0;
  border-radius: 100%;
  padding: 0;
  outline-offset: 3px;
}
.todo-controls > *:hover {
  box-shadow: 0 0 0 5px var(--clr-light-700),
    inset 0 0 0 10px var(--clr-light-700);
}
.todo-controls > *:active {
  outline: 3px solid var(--clr-light-700);
}

.hide-button {
  display: none;
}

.todo-dialog {
  border: 2px solid var(--clr-text);
}

.todo-dialog .todo-form {
  display: grid;
  gap: 1rem;
  width: 50vmin;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.todo-form button[type="reset"] {
  justify-self: end;
  position: absolute;
  background-color: var(--clr-bg);
  border: 0;
  border-radius: 50%;
  padding: 0.125rem;
}

.todo-form button[type="reset"]:hover {
  background-color: var(--clr-light-850);
}

.todo-form button[type="reset"]:active {
  filter: invert(1);
}

.todo-form span.required {
  color: #e00;
  font-weight: initial;
}

.todo-form .todo-form-detail {
  text-align: center;
}

.todo-form-detail span.note{
  font-size: var(--fs-small);
  font-weight: 300;
}

/* Checkbox excluded */
.todo-form p:not(:has(input[type="checkbox"])) {
  display: flex;
  flex-direction: column;
}

.todo-form input[type=text]{
  padding: calc(0.075rem/2) 0.5rem;
}

.todo-form textarea {
  resize: none;
  padding-left: 0.5rem;
}

.todo-form button[type="submit"] {
  background-color: var(--clr-text);
  color: var(--clr-bg);
  border: 0;
  outline-offset: 2px;
}

.todo-form button[type="submit"]:hover {
  background-color: var(--clr-light-200);
}

.todo-form button[type="submit"]:active {
  background-color: var(--clr-light-400);
}
